﻿<div id="metadataeditor">

	<h2>Uploader</h2>
	<table id="titleTable" class="defaulttable">
		<tbody>
			<tr>
				<td>Fullname</td>
			</tr>
			<tr>
				<td>{{uploader_fullname}}</td>
			</tr>
		</tbody>
	</table>

	<table id="titleTable" class="defaulttable">
		<tbody>
			<tr>
				<td>E-Mail</td>
			</tr>
			<tr>
				<td>{{uploader_email}}</td>
			</tr>
		</tbody>
	</table>

	<table id="titleTable" class="defaulttable">
		<tbody>
			<tr>
				<td>Project</td>
			</tr>
			<tr>
				<td>{{uploader_project}}</td>
			</tr>
		</tbody>
	</table>

	<!-- ============= Contact Details for Long-Tern Access-Responsible person ================= -->
	<h2>
		Contact Person for Long-Term data access <span style="color: red;">(mandatory)</span>
	</h2>

	<div id="lta-contactperson-pane"
		data-df-templateContainer="lta-contactperson-template"
		data-df-array="long-term-access-contactpersons">
		<div data-df-template=lta-contactperson-template data-df-object>
			<h3>Contactperson</h3>
			<table id="titleTable" class="table">
				<tbody>
					<tr>
						<td>Fullname <span style="color: red;">(mandatory)</span></td>
					</tr>
					<tr>
						<td><input
							data-df-value="long-term-access-contactperson-fullname" size="40"
							class="idleField" type="text"></td>
					</tr>
					<tr>
						<td>E-Mail <span style="color: red;">(mandatory)</span></td>
					</tr>
					<tr>
						<td><input
							data-df-value="long-term-access-contactperson-email" size="40"
							class="idleField" type="text"></td>
					</tr>
					<tr>
						<td>Institute <span style="color: red;">(mandatory)</span></td>
					</tr>
					<tr>
						<td><input
							data-df-value="long-term-access-contactperson-institute"
							size="40" class="idleField" type="text"></td>
					</tr>
					<tr>
						<td>Project</td>
					</tr>
					<tr>
						<td><select
							data-df-value="long-term-access-contactperson-project">
								<option>﻿A1</option>
								<option>A11</option>
								<option>A12</option>
								<option>A13</option>
								<option>A15</option>
								<option>A16</option>
								<option>A17</option>
								<option>A18</option>
								<option>A2</option>
								<option>A3</option>
								<option>A4</option>
								<option>A5</option>
								<option>A6</option>
								<option>A7</option>
								<option>A8</option>
								<option>INF</option>
								<option>No CRC-Project</option>
						</select></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<button
		onclick="metaDataFormManager.addTemplateInstance($('#lta-contactperson-pane'), { }, { }); return false;"
		type="button" class="btn btn-success">(+) Add a contact
		person</button>

	<button
		onclick="metaDataFormManager.removeTemplateInstance($('#lta-contactperson-pane'));"
		type="button" class="btn btn-danger">(-) Remove last contact
		person</button>

	<h2>Metadata</h2>
	<hr />

	<!-- ============= Metadata Creators ================= -->
	<h3>
		Creators <span style="color: red;">(mandatory)</span>
	</h3>

	<div id="metadata-creator-pane"
		data-df-templateContainer="metadata-creators-template"
		data-df-array="creators">
		<div data-df-template="metadata-creators-template" data-df-object>
			<h3>Creator</h3>
			<table id="titleTable" class="table">
				<tbody>
					<tr>
						<td>Fullname <span style="color: red;">(mandatory)</span></td>
					</tr>
					<tr>
						<td><input data-df-value="creator-fullname" size="40"
							class="idleField" type="text"></td>
					</tr>
					<tr>
						<td>E-Mail <span style="color: red;">(mandatory)</span></td>
					</tr>
					<tr>
						<td><input data-df-value="creator-email" size="40"
							class="idleField" type="text"></td>
					</tr>
					<tr>
						<td>Institute <span style="color: red;">(mandatory)</span></td>
					</tr>
					<tr>
						<td><input data-df-value="creator-institute" size="40"
							class="idleField" type="text"></td>
					</tr>
					<tr>
						<td>Project</td>
					</tr>
					<tr>
						<td><select data-df-value="creator-project">
								<option>﻿A1</option>
								<option>A11</option>
								<option>A12</option>
								<option>A13</option>
								<option>A15</option>
								<option>A16</option>
								<option>A17</option>
								<option>A18</option>
								<option>A2</option>
								<option>A3</option>
								<option>A4</option>
								<option>A5</option>
								<option>A6</option>
								<option>A7</option>
								<option>A8</option>
								<option>INF</option>
								<option>No CRC-Project</option>
						</select></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<button
		onclick="metaDataFormManager.addTemplateInstance($('#metadata-creator-pane'), { }, { }); return false;"
		type="button" class="btn btn-success">(+) Add a creator</button>

	<button
		onclick="metaDataFormManager.removeTemplateInstance($('#metadata-creator-pane'))"
		type="button" class="btn btn-danger">(-) Remove last creator</button>


	<!-- ============= Metadata Titles ================= -->
	<h3>Title</h3>
	<div id="metadata-titles-pane"
		data-df-templateContainer="metadata-title-template"
		data-df-array="titles">
		<div data-df-template="metadata-title-template" data-df-object>
			<table class="table">
				<tr>
					<td><select data-df-value="title_description"><option
								data-df-value>Title</option>
							<option data-df-value>Alternative Title</option></select></td>
					<td><input type="text" data-df-value="title"></td>
				</tr>
			</table>
		</div>
	</div>

	<button
		onclick="metaDataFormManager.addTemplateInstance($('#metadata-titles-pane'), { }, { }); return false;"
		type="button" class="btn btn-success">(+) Add a title</button>

	<button
		onclick="metaDataFormManager.removeTemplateInstance($('#metadata-titles-pane'));"
		type="button" class="btn btn-danger">(-) Remove last title</button>

	<!-- ============= Metadata Subject ================= -->
	<h3>Subject</h3>
	<div id="metadata-subject-pane"
		data-df-templateContainer="metadata-subject-template"
		data-df-array="subjects">
		<div data-df-template="metadata-subject-template" data-df-object>
			<table class="table">
				<tr>
					<td><input type="text" data-df-value="subject"></td>
				</tr>
			</table>
		</div>
	</div>

	<button
		onclick="metaDataFormManager.addTemplateInstance($('#metadata-subject-pane'), { }, { }); return false;"
		type="button" class="btn btn-success">(+) Add a subject</button>

	<button
		onclick="metaDataFormManager.removeTemplateInstance($('#metadata-subject-pane'));"
		type="button" class="btn btn-danger">(-) Remove last subject</button>

	<!-- ============= Metadata Descritption ================= -->
	<h3>Description</h3>
	<div id="metadata-description-pane"
		data-df-templateContainer="metadata-subject-template"
		data-df-array="descriptions">
		<div data-df-template="metadata-subject-template" data-df-object>
			<table class="table">
				<tr>
					<td><textarea data-df-value="description"></textarea></td>
				</tr>
			</table>
		</div>
	</div>

	<button
		onclick="metaDataFormManager.addTemplateInstance($('#metadata-description-pane'), { }, { }); return false;"
		type="button" class="btn btn-success">(+) Add a description</button>

	<button
		onclick="metaDataFormManager.removeTemplateInstance($('#metadata-description-pane'));"
		type="button" class="btn btn-danger">(-) Remove last
		description</button>

	<!-- ============= Metadata Contributor ================= -->
	<h3>Contributor</h3>
	<div id="metadata-contributor-pane"
		data-df-templateContainer="metadata-subject-template"
		data-df-array="contributors">
		<div data-df-template="metadata-subject-template" data-df-object>
			<table class="table">
				<tr>
					<td>Fullname, Institute</td>
					<td><input type="text" data-df-value="subject"></td>
				</tr>
			</table>
		</div>
	</div>

	<button
		onclick="metaDataFormManager.addTemplateInstance($('#metadata-contributor-pane'), { }, { }); return false;"
		type="button" class="btn btn-success">(+) Add a contributor</button>

	<button
		onclick="metaDataFormManager.removeTemplateInstance($('#metadata-contributor-pane'));"
		type="button" class="btn btn-danger">(-) Remove last
		contributor</button>

	<!-- ============= Creation Date ================= -->
	<h3>Date</h3>
	<div id="metadata-creation-date-pane"
		data-df-templateContainer="metadata-creation-date-template"
		data-df-array="creation-dates">
		<div data-df-template="metadata-creation-date-template" data-df-object>
			<table class="table">
				<tbody>
					<tr>
						<td><select data-df-value="creation-type">
								<option>Date Created</option>
								<option>Date Valid</option>
								<option>Date Available</option>
								<option>Date Issued</option>
								<option>Date Modified</option>
								<option>Date Accepted</option>
								<option>Date Copyrighted</option>
								<option>Date Submitted</option>
						</select></td>
						<td><input data-df-value="creation-date" size="40"
							type="text"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<button
		onclick="metaDataFormManager.addTemplateInstance($('#metadata-creation-date-pane'), { }, { }); return false;"
		type="button" class="btn btn-success">(+) Add a date</button>

	<button
		onclick="metaDataFormManager.removeTemplateInstance($('#metadata-creation-date-pane'));"
		type="button" class="btn btn-danger">(-) Remove last date</button>

	<!-- ============= Metadata Source ================= -->
	<h3>Source</h3>
	<div id="metadata-source-pane"
		data-df-templateContainer="metadata-subject-template"
		data-df-array="sources">
		<div data-df-template="metadata-subject-template" data-df-object>
			<table class="table">
				<tr>
					<td>Fullname, Institute / Scientific citing</td>
					<td><input type="text" data-df-value="source"></td>
				</tr>
			</table>
		</div>
	</div>

	<button
		onclick="metaDataFormManager.addTemplateInstance($('#metadata-source-pane'), { }, { }); return false;"
		type="button" class="btn btn-success">(+) Add a source</button>

	<button
		onclick="metaDataFormManager.removeTemplateInstance($('#metadata-source-pane'));"
		type="button" class="btn btn-danger">(-) Remove last source</button>

	<!-- ============= Metadata Language ================= -->
	<h3>Language</h3>
	<div id="metadata-language-pane"
		data-df-templateContainer="metadata-subject-template"
		data-df-array="languages">
		<div data-df-template="metadata-subject-template" data-df-object>
			<table class="table">
				<tr>
					<td>Language (EN / DE / FR)</td>
					<td><input type="text" data-df-value="language"></td>
				</tr>
			</table>
		</div>
	</div>

	<button
		onclick="metaDataFormManager.addTemplateInstance($('#metadata-language-pane'), { }, { }); return false;"
		type="button" class="btn btn-success">(+) Add a language</button>

	<button
		onclick="metaDataFormManager.removeTemplateInstance($('#metadata-language-pane'));"
		type="button" class="btn btn-danger">(-) Remove last language</button>


	<!-- ============= Metadata Relation ================= -->
	<h3>Relation</h3>
	<div id="metadata-relation-pane"
		data-df-templateContainer="metadata-relation-template"
		data-df-array="relations">
		<div data-df-template="metadata-relation-template" data-df-object>
			<table class="table">
				<tr>
					<td colspan="2">Relation</td>
				</tr>
				<tr>
					<td><select data-df-value="relation-type"><option>Relats
								to</option>
							<option>Is Version Of</option>
							<option>Has Version</option>
							<option>Is Replaced By</option>
							<option>Replaces</option>
							<option>Is Required By</option>
							<option>Requires</option>
							<option>Is Part Of</option>
							<option>Has Part</option>
							<option>Is Referenced By</option>
							<option>References</option>
							<option>Is Format Of</option>
							<option>Has Format</option>
							<option>Conforms To</option></select></td>
					<td><input data-df-value="relation-value" size="40"
						type="text"></td>
				</tr>
			</table>
		</div>
	</div>

	<button
		onclick="metaDataFormManager.addTemplateInstance($('#metadata-relation-pane'), { }, { }); return false;"
		type="button" class="btn btn-success">(+) Add a relation</button>

	<button
		onclick="metaDataFormManager.removeTemplateInstance($('#metadata-relation-pane'));"
		type="button" class="btn btn-danger">(-) Remove last relation</button>

  <!-- ============= Metadata Relation ================= -->
	<h3>Souce-Code</h3>
	<table class="table">
		<tr>
			<td colspan="2">Does your container contain source code?</td>
		</tr>
		<tr>
			<td>no</td>
			<td><input type="radio" name="contains-sourcecode" value="no"
				data-df-value="contains-sourcecode"></td>
		</tr>
		<tr>
			<td>yes</td>
			<td><input type="radio" name="contains-sourcecode"
				data-df-value="contains-sourcecode" value="yes"></td>
		</tr>
	</table>
</div>
